<div class="pt-24 px-4 sm:px-6 md:px-16 pb-16 w-full bg-primary-dark min-h-screen">
    <div *ngIf="product$ | async as product" class="pt-8 bg-white grid grid-cols-1 sm:grid-cols-1 md:grid-cols-5 gap-6">
        <div class="col-span-1 sm:col-span-1 md:col-span-2 p-5">
            <div class="flex justify-center">
                <img [src]="product.image" [alt]="product.title" class="max-h-80 md:max-h-96 w-auto object-contain border p-8" />
            </div>
            <div class="pt-8 flex justify-between gap-4 w-full">
                <button
                    (click)="onAddToCart(product)"
                    class="bg-[#ff9f00] text-white w-full sm:w-1/2 py-4 text-sm sm:text-base flex items-center justify-center gap-1"
                >
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Go to Cart</span>
                </button>

                <button
                    class="bg-[#fb641b] text-white w-full sm:w-1/2 py-4 text-sm sm:text-base flex items-center justify-center gap-1"
                >
                    <i class="fas fa-bolt"></i>
                    <span>Buy Now</span>
                </button>
            </div>
        </div>

        <div class="col-span-1 sm:col-span-1 md:col-span-3">
            <h1 class="text-2xl text-black">{{ product.title | titlecase }}</h1>
            <p class="pt-1 text-gray-500 text-lg">#JustHere</p>
            <div class="flex justify-start gap-4 pt-3">
                <span class="bg-green-700 text-white px-3 py-1 rounded-sm text-sm flex items-center">
                    <span>4.1</span>
                    <i class="fa-solid fa-star pl-1"></i>
                </span>
                <p class="text-gray-500 font-medium">
                    <span>5,66,205 Ratings &amp; 33,774 Reviews</span>
                </p>
                <img class="w-24 h-auto" src="assets/images/icons/assured.png" alt="" />
            </div>

            <p class="text-green-700 pt-3" *ngIf="getDiscountPercent(product) > 0">Special Price</p>
            <div class="flex items-baseline gap-4 pt-1" [ngClass]="getDiscountPercent(product) > 0 ? '' : 'pt-5'">
                <span class="text-3xl font-medium">
                    <i class="fa-solid fa-dollar-sign"></i>{{ getPriceAfterDiscount(product) }}
                </span>
                <span class="line-through text-gray-500 text-lg" *ngIf="getDiscountPercent(product) > 0"
                    ><i class="fa-solid fa-dollar-sign"></i>{{ product.price }}</span
                >
                <span class="text-green-700 font-medium text-lg" *ngIf="getDiscountPercent(product) > 0"
                    >{{ getDiscountPercent(product) }}% off</span
                >
            </div>

            <div class="pt-5" *ngIf="offers.length">
                <h2 class="text-lg font-medium">Available Offers</h2>
                <div class="pt-3 space-y-2">
                    <div class="flex items-center gap-3" *ngFor="let offer of _offers">
                        <img class="w-5 h-5" src="assets/images/icons/tags.webp" alt="Bank Offer" />
                        <span
                            ><span class="font-medium">{{ offer.title }}</span
                            ><span class="pl-2">{{ offer.description }}</span>
                            <a [href]="offer.link" class="text-primary">{{ offer.linkText }}</a></span
                        >
                    </div>
                    <p class="text-primary cursor-pointer pt-2 font-medium" *ngIf="_offers < offers" (click)="onShowAllOffers()">
                        View {{ offers.length - _offers.length }} more offers
                    </p>
                </div>
            </div>

            <div class="pt-5 pr-5">
                <p class="text-justify leading-relaxed text-gray-600">{{ product.description }}</p>
            </div>

            <div class="py-8 pr-5">
                <div class="border">
                    <h3 class="px-8 py-3 text-2xl font-medium">Specifications</h3>
                    <hr />
                    <div class="px-8 py-5 space-y-3">
                        <div class="grid grid-cols-5 gap-2">
                            <span class="font-medium text-gray-500">Brand</span>
                            <span class="text-gray-800">{{ product.brand | titlecase }}</span>
                        </div>
                        <div class="grid grid-cols-5 gap-2">
                            <span class="font-medium text-gray-500">Model</span>
                            <span class="text-gray-800">{{ product.model | titlecase }}</span>
                        </div>
                        <div class="grid grid-cols-5 gap-2">
                            <span class="font-medium text-gray-500">Category</span>
                            <span class="text-gray-800"> {{ product.category | titlecase }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-16">
        <div *ngIf="similarProducts$ | async as products">
            <app-product-carousal
                [hasDetailsBtn]="false"
                [products]="products"
                [category]="'Similar Products'"
                (selectedProductEvent)="onSelectedProductEvent($event)"
            ></app-product-carousal>
        </div>
    </div>
</div>
