<div class="w-full h-screen flex items-center justify-center bg-primary-dark pt-24 pb-6">
    <div class="grid grid-cols-1 md:grid-cols-2 w-full max-w-4xl h-full">
        <div class="bg-primary flex flex-col justify-between relative px-10 py-16">
            <div>
                <p class="text-3xl text-white font-medium">Looks like you're new here!</p>
                <p class="text-xl pt-8 text-white">Sign up with your mobile number to get started</p>
            </div>
            <img class="absolute bottom-5 left-5 w-3/4 max-w-xs" src="assets/images/login_img.png" alt="Login Illustration" />
        </div>
        <div class="bg-white px-8 py-16 relative">
            <div class="w-full max-w-md">
                <app-dynamic-form [formFields]="_loginFormSchema"></app-dynamic-form>
            </div>
            <div class="absolute bottom-10 left-0 text-center w-full">
                <a class="text-primary text-lg font-medium" routerLink="/signup">New to Flipkart? Create an account </a>
            </div>
        </div>
    </div>
</div>
